body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Roboto";
}

ul {
  list-style-type: none;
}
/*Header*/
.webstudio {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
}
.web {
  color: #4d5ae5;
}
.studio {
  color: #2e2f42;
}

.menu-link {
  color: #2e2f42;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.contact-link {
  color: #2e2f42;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

/*Section1*/
h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
}
.section1 {
  background: #2e2f42;
  width: 1440px;
  top: 72px;
  gap: 0px;
  opacity: 0px;
}
.button {
  background: #4d5ae5;
  cursor: pointer;
}
.text-button {
  color: #ffffff;
}

/*Section3*/
.section3 {
  background: #f4f4fd;
}

.title-h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-card {
  background: #ffffff;
}
.text-card {
  text-align: center;
}
/*footer*/
.footer {
  background: #2e2f42;
  width: 1440px;
  top: 2988px;
  gap: 0px;
  opacity: 0px;
}
.studio-footer {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
}
